extends layout

block content
    a.btn.btn-primary(href="/article") Articles
    ul
        //each article,id in articles
        //    li= article.text
        //each line,sid in lines
        //    li= line.startId+'\n'+line.endId

